@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

*{
   box-sizing: border-box;
}

header, section{
   overflow-x: hidden;
}

:root{
   --bodyFont: 'Poppins', sans-serif;
   --dark-blue: #010A4B;
   --ocean-blue: #043EA7;
   --light-blue: #E1F1FD; 
   --page-bg: #F3FAFF;
}

body{
   background-color: var(--page-bg);
   font-family: var(--bodyFont);
}

header{
   nav{
      background-color: var(--dark-blue);
   }
   a{
      color: var(--light-blue);
      font-weight: 200;
      margin: 0 22px;
      text-transform: uppercase;
      font-size: 20px;
   }
   .navbar{
      padding-left: 150px;
      padding-right: 150px;
   }
}

.logo{
   height: 15vh;
   margin-left: 170px;
   img{
      margin: 0;
      padding: 0;
      height: 90px;
   }
}

.programs-offered{
   ul{
      columns: 2;
   }
}
.announcement{
   background-color: var(--ocean-blue);
   color: var(--light-blue);
   border-radius: 5px;
   padding: 25px 20px;

   h4{
      text-transform: uppercase;
      font-weight: 400;
   }

   p{
      font-size: 18.5px;
      font-weight: 200;
      margin: 15px 0 0;
   }
}

.featured{
   background-image: url('../img/featured.jpg');
   background-position: center;
   background-size: cover;
   height: 65vh;
   margin-bottom: 40px;
   color: var(--light-blue);
   h3{
      margin-top: 40vh;
   }
   p{
      font-size: 18.5px;
      font-weight: 200;
   }
}

.latest{
   img{
      width: 320px;
      height: 320px;
      margin: auto;
   }
   h3{
      text-transform: uppercase;
      color:var(--dark-blue);
      font-size: 36px;
      font-weight: 600;
   }
   p{
      margin-right: 15px;
      font-size: 18.5px;
      font-weight: 300;
   }
   margin: 40px 0 0;
}


.about{
   margin-top: 50px;
   img{
      width: 97%;
      margin-left: 15px;
   }
   p{
      margin-right: 15px;
      font-size: 18.5px;
      font-weight: 300;
   }
   h3{
      text-transform: uppercase;
      color:var(--dark-blue);
      font-size: 36px;
      font-weight: 600;
   }
   hr{
      height: 3px;
      background-color: var(--ocean-blue);
      margin: 25px 15px 25px 0;
   }
}

footer{
   background-color: var(--dark-blue);
   color: var(--light-blue);
   font-weight: 200;
}
.footer-top{
   padding: 40px 0;
}

.copyright{
   text-align: center;
}

.social-links{
   background-color: var(--ocean-blue);
   i{
      font-size: 30px;
      margin: 0 20px;
      color: var(--light-blue)
   }
}

.footer-links{
   ul, li{
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      columns: 2;
   }
   a{
      text-decoration: none;
      color: var(--light-blue);
      font-size: 15px;
   }
}

.core-values{
   margin: 60px 0 0;
   p{
      margin: 25px 0;
      font-size: 18.5px;
      font-weight: 300;
      text-align: justify;
   }
   h3{
      text-transform: uppercase;
      color:var(--dark-blue);
      font-size: 36px;
      font-weight: 600;
   }
   hr{
      height: 3px;
      background-color: var(--ocean-blue);
      margin: 25px 0;
   }
}

.dropdown-menu{
   display: none;
   position: absolute;
   background-color: var(--light-blue);
   width: 270px;
   box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
   z-index: 1;
   margin-top: 8px;

   a{
      color: black;
      padding: 6px 6px;
      display: block;
   }
}

.programs-offered{
   ul, p{
      margin: 25px 0;
      font-size: 18.5px;
      font-weight: 300;
      text-align: justify;
   }
   h3{
      text-transform: uppercase;
      color:var(--dark-blue);
      font-size: 36px;
      font-weight: 600;
   }
   hr{
      height: 3px;
      background-color: var(--ocean-blue);
      margin: 25px 0;
   }

   span{
      font-weight: 600;
   }
}
.scholarships{
   h3{
      text-transform: uppercase;
      color:var(--dark-blue);
      font-size: 36px;
      font-weight: 600;
   }
   hr{
      height: 3px;
      background-color: var(--ocean-blue);
      margin: 25px 0;
   }
   p{
      margin: 25px 0;
      font-size: 18.5px;
      font-weight: 300;
      text-align: justify;
   }
   ul{
      margin: 25px 0;
      font-size: 18.5px;
      text-align: justify;
      font-weight: 300;
   }
   h5{
      font-weight: 400;
   }
}

.dropdown-item:hover{
   color: blue;
   width: 220px;
   border-radius: 5px;
}

.accordion {
   background-color: var(--page-bg);
   color: black;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   border: none;
   border-bottom: 2px solid var(--dark-blue);
   text-align: left;
   outline: none;
   font-size: 15px;
   transition: 0.4s;
   font-size: 18.5px;
   font-weight: 500;
}
 
.active, .accordion:hover {
   background-color: var(--light-blue);
}
 
.accordion:after {
   content: '\002B';
   color: #777;
   font-weight: bold;
   float: right;
   margin-left: 5px;
}
 
.active:after {
   content: "\2212";
}
 
.panel {
   padding: 0 18px;
   background-color: var(--light-blue);
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
   font-size: 18.5px;
}

.login{
   background-color: var(--dark-blue);
   color: white;
   margin: 100px auto;
   width: 600px;
   border: 20px solid var(--dark-blue);

   button, input{
      padding: 10px;
      margin: 10px;
      font-size: 18.5px;
      border: 0.5px solid var(--ocean-blue);
   }

   input{
      width: 450px;
      background-color: var(--light-blue);
   }

   button{
      width: 150px;
      border-radius: 15px;
      height: auto;
      background-color: var(--ocean-blue);
      cursor: pointer;
   }

   img{
      width: 120px;
   }

   hr{
      background-color: whitesmoke;
      height: 5px;
   }
}